<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="text">
<button>este es otro boton</button>
<p style="color: #77237d"> Hola desde {{ entidad }}, estas en la cursada {{ cursada }}</p>
la fecha en la que estamos corriendo el codigo es {{ fecha }} <br>
la lista ingresada es: {{ lista }} <br>
los numeros son:
{% for numero in lista %}
    <br>{{ numero }}
{% endfor %}
<br> Mi diccionario es: {{  diccionario }}
{% for key, value in diccionario.items %}
    <br>{{ key }}: {{ value }}
{% endfor %}
<br><br>
{#este es un comentario#}
{% if cursada == "36" %}
    <h1>Estas en la cursada correcta</h1>
{% else %}
    <h1>Estas en la cursada incorrecta</h1>
{% endif %}


</body>
</html>